/*Variables that will be used in the grid of games*/
%xbox_background {
  background-color: lightgreen;
}

%nintendo_background {
  background-color: #ff8280;
}

%playstation_background {
  background-color: lightblue;
}

%intro {
  font-size: 25px;
  padding: 20px;
  width: 100%;
}

%grid_item { /*Making the items resposive and custom*/
  padding: 20px;
  flex: 33%;
  text-align: center;
  img { /*Using nesting*/
    height: 300px;
  }
}

/*Query to custom the navbar int mobile Devices*/
@media (max-width: 376px){
  .nav-item {
    font-size: 4vw;
  }
}

body {
  background-color: #f0ece1;
}

.intro_xbox {
  @extend %intro;
  background-color: lightgreen;
  p { /*Nesting*/
    font-size: 20px;
  }
}

.intro_nintendo {
  @extend %intro, %nintendo_background;
  p { /*Nesting*/
    font-size: 20px;
  }
}

.intro_playstation {
  @extend %intro, %playstation_background;
  p { /*Nesting*/
    font-size: 20px;
  }
}

.grid { /*Responsive grid, with felx and wrap*/
  display: flex;
  flex-wrap: wrap;
}

/*Adding custom Borders plus inheritance of each console variable*/
.grid_xbox {
  @extend %grid_item, %xbox_background;
  border:4px solid green;
}

.grid_nintendo {
  @extend %grid_item, %nintendo_background;
  border:4px solid red;
}

.grid_playstation {
  @extend %grid_item, %playstation_background;
  border:4px solid blue;
}

.container_celso{
  padding: 30px;
  border: 3px;
  text-align: center;
}

/*Centralizing and styling the columns*/
.col-lg-4{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
